@model EC2016.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
@*<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>*@

<h1>Regisztráció megerősítése</h1>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @*<h4>Association Form</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h3>Szia @Model.Name!</h3>
    <p class="text-info">
        Ez az első bejelentkezésed! A regisztrációs folyamat lezárásához a felhasználónév és a szükséges kód megadása után kérlek kattints a regisztrálok gombra!
    </p>
    <h4>Jó játékot!</h4>
    
    @*<div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="margin-bottom:10px">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="margin-bottom:10px">
            @Html.PasswordFor(m => m.Code, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(m => m.Dummy, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="margin-bottom:10px">
            <input type="submit" class="btn btn-default" value="Regisztrálok" />
        </div>
        @*<input id="code" type="password" name="code" value="" style="width:180px; " />*@
        @*<h4>Felhasználónév:</h4>*@
        @*@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })*@
        @*<input type="text"  name="name" value="@Model.Name" style="width:180px; "/>*@
        @*<div class="col-md-offset-2 col-md-10">*@
        @*</div>*@
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
