<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - EB 2016 Játék</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/tooltipster1")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body @*style="min-width: 1185px;"*@ class="yellow-background">
    <div class="container body-content" background-color:grey">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tooltipster1")
    @RenderSection("scripts", required: false)
</body>
</html>
