@model EC2016.Models.IndexModel

@{
    ViewBag.Title = "Főoldal";
}

@section scripts {
    <script>
        $(document).ready(function () {

            resize();

            var width = $("#cntr").width();
            var height = $("#cntr").height();
            $(".sidediv").css({ "width": width / 4 });
            $(".centerdiv").css({ "width": (width / 2) - 10 });
            $(".sidediv").css({ "height": height / 3 });
            $(".centerdiv").css({ "height": (height / 3) });


            var str = "@ViewBag.menu";

            $('.tooltips').tooltipster({
                content: makeTableOfUserResults($(this).parent().attr("data-userid"))
            });

            $("#gamestanding tr:last").children().addClass("borderbottom");

            if (str == "guesses") {

                $("#matchesTab").addClass("red-text");
                $("#teamsTab").addClass("blue-text");
                $("#gamesTab").addClass("blue-text");

            } else {
                if (str == "teams") {

                    $("#matchesTab").addClass("blue-text");
                    $("#teamsTab").addClass("red-text");
                    $("#gamesTab").addClass("blue-text");

                }
                else {

                    $("#matchesTab").addClass("blue-text");
                    $("#teamsTab").addClass("blue-text");
                    $("#gamesTab").addClass("red-text");

                }
            }

        });

        function makeTableOfUserResults(userid) {

        }

        function getGuess(data) {

            var table = $("table[data=" + data.id + "]");
            table.find("#homeGuess").html(data.homeGuess);
            table.find("#awayGuess").html(data.awayGuess);
            table.find("#inputHome").val("");
            table.find("#inputAway").val("");

        }

        function showIndicator(id) {
            //alert("showindicator");
            //$body.addClass("loading");
            $("button[data=" + id + "]").prop('disabled', true);
            $("button[data=" + id + "]").addClass("animatedbutton");

        }

        function dismissIndicator(id) {
            //$body.removeClass("loading");
            $("button[data=" + id + "]").prop('disabled', false);
            $("button[data=" + id + "]").removeClass("animatedbutton");
        }

        function teamNameClicked(element) {

            $(element).next().toggle();

        }


        

        $(window).resize(function () {

            resize();

        });

        function resize() {
            if (window.innerHeight < 550) {
                $("#leftDiv").css("visibility", "hidden");
                $("#rightDiv").css("visibility", "hidden");
            } else {
                $("#leftDiv").css("visibility", "visible");
                $("#rightDiv").css("visibility", "visible");
            }

            if (window.innerWidth < 1270) {
                //$("#rightDiv").css({ "left": "810px", "right": "auto" });
                //$("#header").css({ "left": "393px", "margin-left": "0px" });
                $("#rightDiv").hide();
                $("#leftDiv").hide();
            } else {
                $("#rightDiv").show();
                $("#leftDiv").show();
                //$("#rightDiv").css({ "left": "auto", "right": "100px" });
                //$("#header").css({ "left": "50%","margin-left":"-200px"});
            }
        }

    </script>
}

<div class="white-background" id="leftDiv" style="display:none; text-align:center; height:530px; width:280px; position:fixed; top:20px; left: 50px; " >
    <div style="height:170px; width:280px; ">
        <div style="text-align:center; width:100%">
            <h4>A Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.ATeams)
        </div>
    </div>
    <div style="height:170px; width:280px;">
        <div style="text-align:center; width:100%">
            <h4>B Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.BTeams)
        </div>
    </div>
    <div style="height:170px; width:280px;">
        <div style="text-align:center; width:100%">
            <h4>C Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.CTeams)
        </div>
    </div>
</div>

<div class="white-background" id="rightDiv" style="display:none; height:530px; width:280px; position:fixed; top:20px; right: 50px;">
    <div style="height:170px; width:280px;">
        <div style="text-align:center; width:100%">
            <h4>D Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.DTeams)
        </div>
    </div>
    <div style="height:170px; width:280px;">
        <div style="text-align:center; width:100%">
            <h4>E Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.ETeams)
        </div>
    </div>
    <div style="height:170px; width:280px;">
        <div style="text-align:center; width:100%">
            <h4>F Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.FTeams)
        </div>
    </div>
</div>
    
<div class="blue-background" id="header" style="border-bottom-color: #F26964; border-bottom: 10px; align-content:center; text-align:center; position:fixed; height:140px; width:600px; margin-top:0px; left: 50%; margin-left: -300px; z-index:100;">
    <div class="yellow-text" style="align-content:center; text-align:center; ">
        <h2>@ViewBag.user.UserName</h2>
    </div>
    <div class="white-text">
        @Html.ActionLink("Kijelentkezés", "LogOff", "Account")
    </div>
    <br />
    <div style="border-bottom:45px solid #F26964; height:40px; width:600px; position:absolute; bottom:initial; left: 50%; margin-left: -300px">
        <div class="navbar navbar-default white-background" style="height:100%; width:100%;">
            <div class="container white-background" style="text-align:center; height:40px; border-bottom-color: #F26964; border-bottom: 10px">
                <ul class="nav" style="height:40px">
                    <li class="white-background" style="text-align:center; display:inline-block; width:110px; height:40px">@Html.ActionLink("Mérkőzések", "Guesses", "Home", new { id = "matchesTab" })</li>
                    <li class="white-background" style="text-align:center; display:inline-block; width:110px; height: 40px">@Html.ActionLink("Csapatok", "Teams", "Home", new { id = "teamsTab" })</li>
                    <li class="white-background" style="width:110px; display:inline-block; height:40px">@Html.ActionLink("Tippjáték", "Game", "Home", new { id = "gamesTab" })</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="align-content:center; text-align:center; margin-top:120px;">
    <div class="white-background black-text" style="align-content:center; text-align:center; width:600px; margin: 0 auto">
        <br />
        @{
            @*<span>@DateTime.Now</span>*@

            @*DateTime MyTimeInWesternEurope = TimeZoneInfo.ConvertTimeBySystemTimeZoneId(MyTime, "W. Europe Standard Time");
            <h4>@MyTimeInWesternEurope.AddMinutes(-5)</h4>*@
            @*<h4>@DateTime.Now</h4>*@
        }
        <div id="mainContent">
            @if (ViewBag.menu == "guesses")
        {
                <h3 style="align-content:center; text-align:center">Mérkőzések</h3>
                @Html.Partial("~/Views/Home/_Matches.cshtml", Model);
        }
        else
        {
            if (ViewBag.menu == "teams")
            {
                    <h3 style="align-content:center; text-align:center">Csapatok</h3>
                    @Html.Partial("~/Views/Home/_Teams.cshtml", Model);
            }
            else
            {
                    <h3 style="align-content:center; text-align:center">Tippjáték</h3>
                    @Html.Partial("~/Views/Home/_Games.cshtml", Model);
            }
        }

        </div>
    </div>
</div>


    



