@model EC2016.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script>
        $(document).ready(function () {
            var width = $("#cntr").width();
            var height = $("#cntr").height();
            $(".sidediv").css({ "width": width / 4 });
            $(".centerdiv").css({ "width": (width / 2) - 10 });
            $(".sidediv").css({ "height": height / 3 });
            $(".centerdiv").css({ "height": (height / 3)});
        });

        function teamNameClicked(element) {

            $(element).next().toggle();

        }

        $(window).resize(function () {

            if (window.innerHeight < 550) {
                $("#leftDiv").css("visibility","hidden");
                $("#rightDiv").css("visibility", "hidden");
            } else {
                $("#leftDiv").css("visibility", "visible");
                $("#rightDiv").css("visibility", "visible");
            }

            if (window.innerWidth < 1100) {
                $("#rightDiv").css({ "left": "760px", "right": "auto" });
                $("#header").css({"left":"350px","margin-left":"0px"});
            } else {
                $("#rightDiv").css({ "left": "auto", "right": "100px" });
                $("#header").css({ "left": "50%","margin-left":"-200px"});
            }


        });

    </script>
}

<div id="leftDiv" style="height:530px; width:240px; position:fixed; top:20px; left: 100px; background-color:brown" >
    <div style="height:170px; width:240px; ">
        <div>
            <h4>A Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.ATeams)
        </div>
    </div>
    <div style="height:170px; width:240px;">
        <div>
            <h4>B Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.BTeams)
        </div>
    </div>
    <div style="height:170px; width:240px;">
        <div>
            <h4>C Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.CTeams)
        </div>
    </div>
</div>

<div id="rightDiv" style="height:530px; width:240px; position:fixed; top:20px; right: 100px; background-color:brown">
    <div style="height:170px; width:240px;">
        <div>
            <h4>D Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.DTeams)
        </div>
    </div>
    <div style="height:170px; width:240px;">
        <div>
            <h4>E Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.ETeams)
        </div>
    </div>
    <div style="height:170px; width:240px;">
        <div>
            <h4>F Csoport</h4>
        </div>
        <div style="height:150px">
            @Html.Partial("~/Views/Home/Table.cshtml", Model.FTeams)
        </div>
    </div>
</div>
    
<div id="header" style="align-content:center; text-align:center; position:fixed; height:120px; width:400px; margin-top:0px; left: 50%; margin-left: -200px; z-index:100; background-color:azure;">
    <div style="align-content:center; text-align:center; ">
        <h2>@ViewBag.user.UserName</h2>
    </div>
    <div>
        @Html.ActionLink("Kijelentkezés", "LogOff", "Account")
    </div>
    <br />
    <div class="navbar navbar-default" style="height:40px; width:400px; position:absolute; bottom:initial; left: 50%; margin-left: -200px">
        <div class="container" style="text-align:center; height:40px">
            <ul class="nav" style="height:40px">
                @*<li class="active"><a href="#">Mérkőzése</a></li>
                    <li><a href="#">Csapattok</a></li>
                    <li><a href="#">Játék</a></li>*@
                <li style="text-align:center; display:inline-block; width:110px; height:40px">@Html.ActionLink("Mérkőzések", "Guesses", "Home")</li>
                <li style="text-align:center; display:inline-block; width:110px; height: 40px">@Html.ActionLink("Csapatok", "Teams", "Home")</li>
                <li style="width:110px; display:inline-block; height:40px">@Html.ActionLink("Tippjáték", "Game", "Home")</li>
            </ul>
        </div>
    </div>
</div>



    <div style="align-content:center; text-align:center; margin-top:120px">
        <div style="align-content:center; text-align:center; background-color:burlywood; width:400px; margin: 0 auto">
            <br />

            <div id="mainContent">
                @if (ViewBag.menu == "guesses")
            {
                    <h3 style="align-content:center; text-align:center">Mérkőzések</h3>
                    @Html.Partial("~/Views/Home/_Matches.cshtml", Model);
            }
            else
            {
                if (ViewBag.menu == "teams")
                {
                        <h3 style="align-content:center; text-align:center">Csapatok</h3>
                        @Html.Partial("~/Views/Home/_Teams.cshtml", Model);
                }
                else
                {
                        <h3 style="align-content:center; text-align:center">Tippjáték</h3>
                        @Html.Partial("~/Views/Home/_Games.cshtml", Model);
                }
            }

            </div>
        </div>
    </div>


    @*<div id="cntr">
            <div class="sidediv" style="display:inline-block; background-color:rebeccapurple; height:100px ">
                <div>
                    <span>A Csoport</span>
                </div>
                <div style="height:150px">
                    @Html.Partial("~/Views/Home/Table.cshtml", Model.ATeams)
                </div>
            </div>
            <div class="centerdiv" style="display:inline-block; background-color:blanchedalmond;height:100px">

            </div>
            <div class="sidediv" style="display:inline-block;background-color:coral;height:100px">

            </div>
            <br />
            <div class="sidediv" style="display:inline-block; background-color:rebeccapurple; width:100px; height:100px ">

            </div>
            <div class="centerdiv" style="display:inline-block; background-color:blanchedalmond;width:100px;height:100px">

            </div>
            <div class="sidediv" style="display:inline-block;background-color:coral;width:100px;height:100px">

            </div>
            <br />
            <div class="sidediv" style="display:inline-block; background-color:rebeccapurple; width:100px; height:100px ">

            </div>
            <div class="centerdiv" style="display:inline-block; background-color:blanchedalmond;width:100px;height:100px">

            </div>
            <div class="sidediv" style="display:inline-block; background-color:coral;width:100px;height:100px">

            </div>
        </div>

        <h3 style="text-align:center">Mérkőzések</h3>*@


    @*<div style="background-color:aqua ;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="background-color:red;">
                        <div>
                            <h4>A Csoport</h4>
                        </div>
                        <div style="height:150px">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.ATeams)
                        </div>
                        <div>
                            <h4>B Csoport</h4>
                        </div>
                        <div style="height:150px;background-color:green;">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.BTeams)
                        </div>
                        <div>
                            <h4>C Csoport</h4>
                        </div>
                        <div style="height:150px">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.CTeams)
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-3" style="background-color:red;">
                        <div>
                            <h4>D Csoport</h4>
                        </div>
                        <div style="height:150px">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.DTeams)
                        </div>
                        <div>
                            <h4>E Csoport</h4>
                        </div>
                        <div style="height:150px;background-color:green;">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.ETeams)
                        </div>
                        <div>
                            <h4>F Csoport</h4>
                        </div>
                        <div style="height:150px">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.FTeams)
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    @*<div style="background-color:aqua ;" >
            <div class="container">
                <div class="row">
                    <div class="col-md-3" style="background-color:red;">
                        <div>
                            <h4>A Csoport</h4>
                        </div>
                        <div style="height:150px">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.ATeams)
                        </div>
                        <div>
                            <h4>B Csoport</h4>
                        </div>
                        <div style="height:150px;background-color:green;">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.BTeams)
                        </div>
                        <div>
                            <h4>C Csoport</h4>
                        </div>
                        <div style="height:150px">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.CTeams)
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-3" style="background-color:red;">
                        <div>
                            <h4>D Csoport</h4>
                        </div>
                        <div style="height:150px">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.DTeams)
                        </div>
                        <div>
                            <h4>E Csoport</h4>
                        </div>
                        <div style="height:150px;background-color:green;">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.ETeams)
                        </div>
                        <div>
                            <h4>F Csoport</h4>
                        </div>
                        <div style="height:150px">
                            @Html.Partial("~/Views/Home/Table.cshtml", Model.FTeams)
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    @*<div class="container">
            <div class="row">
                <div class="col-md-3" style="background-color:red;">

                </div>
                <div class="col-md-6">
                    <h3>Mérkőzések</h3>
                </div>
                <div class="col-md-3" style="background-color:red;">

                </div>
            </div>
        </div>*@



